[Desktop Entry]
Icon=github-desktop
Name=
Type=Link
URL[$e]=x-github-desktop-dev-auth://oauth?code=4d99bc0032bc7e60d044&state=a1fb09f8-1f33-4599-b7e8-1f45348c77a9
X-KDE-LastOpenedWith=github-desktop
